body {
    background-color: black;
    color: white;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.result_table {
    border: 1px solid #18171d;
    margin-top: 20px;
}

.result_table th {
    border-bottom: 1px solid #733b3c;
    text-align: left;
    color: #ffffff;
    height: 35px;
    background-color: #194d86;

}

.notice_container {
    color: red;
}